@model Cansu.Northwind.MVCWebUI.Models.ProductListViewModel
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h2>Product List</h2>
<a class="btn btn-xs btn-success" asp-controller="Admin" asp-action="Add" style="margin-bottom:20px;">Add a new product</a>
<div>
    <table class="table table-responsive">
        <tr>
            <td>Product Name</td>
            <td>Unit Price</td>
            <td>Units In Stock</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
                <td><a class="btn btn-xs btn-info" asp-controller="Admin" asp-action="Update" asp-route-productId="@product.ProductId">Update</a></td>
                <td><a class="btn btn-xs btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-productId="@product.ProductId">Delete</a></td>

            </tr>
        }
    </table>
</div>
<product-list-pager current-category="@Model.CurrentCategory"
                    current-page="@Model.CurrentPage"
                    page-count="@Model.PageCount"
                    page-size="@Model.PageSize"></product-list-pager>